<div class="back-button-container">
  <a href="" class="back-button"><-</a>
  <span class="back-button-header">
  </span>
</div>

<formfooterview
  csrf="<%= form_authenticity_token %>"
  id="<%= @biography.id %>"
  telephone="<%= @biography.telephone_contact %>"
  primaryemail="<%= @biography.email_primary %>"
  contactemail="<%= @biography.email_contact %>"
  location="<%= @biography.location %>"
  socialmedianame="<%= @sm_name %>"
  socialmediaurl="<%= @sm_url %>">
</formfooterview>
