<h2>Change Password</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

  <div class="field" style="display: flex; flex-direction: column; justify-content: center;">
    <%= f.label "Please enter your email address" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions">
    <%= f.submit "Send me reset password instructions" %>
  </div>
  <div style="display: flex; justify-content: center;">
    <%= link_to("Go Back", new_user_session_path) %>
  <div>
<% end %>

