<controller></controller>

<div class="searchbar-wrapper">
  <searchbar
      cards="<%= @projects.select {|proj| proj.visibility == true}.count %>">
  </searchbar>
</div>

<div class="card-container">
  <% @projects.sort_by(&:project_order).select {|proj| proj.visibility == true}.reverse_each do |proj|  %>
    <card
      name="<%= proj.name %>"
      description="<%= proj.description %>"
      id="<%= proj.id %>"
      img="<%= proj.images.select { |img| img.coverimage }.first.url if proj.images.present? %>"
      mycsrf="<%= form_authenticity_token %>"
      posturl="featured"
      slug="<%= proj.slug %>">
    </card>
  <% end %>
</div>

<div class="list-wrapper">
  <% @projects.sort_by(&:project_order).select {|proj| proj.visibility == true}.reverse_each do |proj|  %>
    <list
      name="<%= proj.name %>"
      imagecount="<%= proj.images.count %>"
      description="<%= proj.description %>"
      id="<%= proj.id %>"
      img="<%= proj.images.select { |img| img.coverimage }.first.url if proj.images.present? %>"
      mycsrf="<%= form_authenticity_token %>"
      posturl="featured"
      currentpage="<%= request.url %>"
      slug="<%= proj.slug %>"
      datecreate="<%= (Date.today - Date.parse(proj.created_at.strftime("%d-%b-%Y at %I:%M%p"))).to_i %>"
      dateupdate="<%= proj.updated_at.strftime("%d-%b-%Y at %I:%M%p") %>">
    </list>
  <% end %>
</div>
