<controller></controller>

<div class="searchbar-wrapper">
  <searchbar></searchbar>
</div>

<div class="card-container">
  <% @projects.select {|proj| proj.visibility == true}.reverse_each do |proj|  %>
    <card
      name="<%= proj.name %>"
      id="<%= proj.id %>"
      img="<%= proj.images[0].url if proj.images.present? %>"
      mycsrf="<%= form_authenticity_token %>"
      posturl="featured"
      slug="<%= proj.slug %>">
    </card>
  <% end %>
</div>

