<div class="back-button-container">
  <a href="" class="back-button"><-</a>
  <span class="back-button-header">
    <% if @project.name.blank? %>
      Edit Mode: Unnamed Project
    <% else %>
      Edit Mode: <%= @project.name %>
    <% end %>
  </span>
</div>

<div class="edit-picture-container">
  <% @project.images.each do |img| %>
    <div class="edit-picture">
      <%= cl_image_tag(img.url, width: 260, height: 260) unless img.url.blank? %>
      <span><strong>Name:</strong> <%= img.url %></span>
      <span><strong>Format:</strong> <%= img.format %></span>
    </div>
  <% end %>
</div>

<formproject
  mycsrf="<%= form_authenticity_token %>"
  pageurl="<%= request.original_fullpath %>"
  id="<%= @project.id %>">
</formproject>
