<backbutton
    route="<%= request.referrer %>">
</backbutton>

<div class="form-picture-container">
  <% @project.images.each do |img| %>
    <formgallery
      coverimage="<%= img.coverimage %>"
      new="false"
      imgurlstub="<%= img.url %>"
      imgformat="<%= img.format %>"
      img-filename="<%= img.filename unless img.filename.nil? %>"
      mycsrf="<%= form_authenticity_token %>"
      pageurl="<%= request.original_fullpath %>"
      id="<%= img.id %>">
    </formgallery>
  <% end %>
</div>

<% project_images_array = @project.images.map(&:url) %>
<% project_image_id_array = @project.images.map(&:id) %>
<% project_name = @project.name %>
<% project_description = @project.description %>
<formproject
  mycsrf="<%= form_authenticity_token %>"
  pageurl="<%= request.original_fullpath %>"
  id="<%= @project.id %>"
  projectimages="<%= project_images_array %>"
  projectimagesid="<%= project_image_id_array %>"
  projectname="<%= project_name %>"
  projectdescription="<%= project_description %>">
</formproject>
