<backbutton
    route="<%= request.referrer %>"
    name="<%= @project.name %>"
    unarchived="<%= @project.visibility%>">
</backbutton>

<% @images = @project.images.sort_by { |img| img.coverimage ? 0 : 1 } %>
<div class="form-picture-container">
  <% @images.each do |img| %>
    <formgallery
      coverimage="<%= img.coverimage %>"
      new="false"
      imgurlstub="<%= img.url %>"
      imgformat="<%= img.format %>"
      img-filename="<%= img.filename unless img.filename.nil? %>"
      mycsrf="<%= form_authenticity_token %>"
      pageurl="<%= request.original_fullpath %>"
      id="<%= img.id %>">
    </formgallery>
  <% end %>
</div>

<% project_images_array = @project.images.map(&:url) %>
<% project_image_id_array = @project.images.map(&:id) %>
<% project_name = @project.name %>
<% project_description = @project.description %>
<% project_blurb = @project.blurb %>
<formproject
  mycsrf="<%= form_authenticity_token %>"
  pageurl="<%= request.original_fullpath %>"
  id="<%= @project.id %>"
  projectimages="<%= project_images_array %>"
  projectimagesid="<%= project_image_id_array %>"
  projectname="<%= project_name %>"
  projectdescription="<%= project_description %>"
  projectblurb="<%= project_blurb %>">
</formproject>
