<div class="back-button-container">
  <a href="" class="back-button"><-</a>
  <span class="back-button-header">
    <% if @project.name.blank? %>
      Edit Mode: Unnamed Project
    <% else %>
      Edit Mode: <%= @project.name %>
    <% end %>
  </span>
</div>

<div class="form-picture-container">
  <% @project.images.each do |img| %>
    <formgallery
      imgurlstub="<%= img.url %>"
      imgformat="<%= img.format %>">
    </formgallery>
  <% end %>
</div>

<formproject
  mycsrf="<%= form_authenticity_token %>"
  pageurl="<%= request.original_fullpath %>"
  id="<%= @project.id %>">
</formproject>
