<div class="back-button-container">
  <a href="" class="back-button"><-</a>
  <span class="back-button-header">
    <% if @project.name.blank? %>
      Edit Mode: Unnamed Project
    <% else %>
      Edit Mode: <%= @project.name %>
    <% end %>
  </span>
</div>

<%= simple_form_for(@project) do |f| %>
  <%= f.input :id, as: :hidden %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.file_field :images, multiple: true %>
  <%= f.submit %>
<% end %>

<div class="form-picture-container">
  <% @project.images.each do |img| %>
    <formgallery
      imgurlstub="<%= img.url %>"
      imgformat="<%= img.format %>">
    </formgallery>
  <% end %>
</div>



<% project_images_array = @project.images.map(&:url) %>
<% project_image_id_array = @project.images.map(&:id) %>
<% project_name = @project.name %>
<% project_description = @project.description %>
<formproject
  mycsrf="<%= form_authenticity_token %>"
  pageurl="<%= request.original_fullpath %>"
  id="<%= @project.id %>"
  projectimages="<%= project_images_array %>"
  projectimagesid="<%= project_image_id_array %>"
  projectname="<%= project_name %>"
  projectdescription="<%= project_description %>">
</formproject>
