<b-container >
<% @projects.sort_by(&:project_order).reverse_each do |project| %>
  <b-row class="pt-4">
    <b-col sm="12" >
      <div class="client-featured-card">
        <%=link_to(project_path(project.slug)) do %>
          <img src="<%= project.images.select(&:coverimage).first.url %>" alt="<%= project.name %>">
        <% end %>
        <div class="project-info">
          <span class="name"><%= project.name.upcase %></span>
          <span class="description"><%= project.blurb %></span>
        </div>
      </div>
    </b-col>
  </b-row>
<% end %>
</b-container>
