<b-container >
  <b-row>
    <b-col sm="12" >
      <%=link_to '/featured/untitled' do %>
        <b-img src="<%=cl_image_path "UNTITLED_CAPSULE_COLLECTION_07_jojed1"%>" fluid></b-img>
      <%end%>
      <div class="project-info">
        <span class="name">UNTITLED</span>
        <span class="description">CAPSULE COLLECTION 07</span>
      </div>
    </b-col>
  </b-row>

  <b-row class="pt-4">
    <b-col sm="12" >
      <%=link_to '/featured/trailblazing' do %>
        <b-img src="<%=cl_image_path "TRAILBLAZING_CAPSULE_COLLECTION_06_txecg8"%>" fluid></b-img>
      <%end%>
      <div class="project-info">
        <span class="name">TRAILBLAZING</span>
        <span class="description">CAPSULE COLLECTION 06</span>
      </div>
    </b-col>
  </b-row>

  <b-row class="pt-4">
    <b-col sm="12" >
      <%=link_to '/featured/tate' do %>
        <b-img src="<%=cl_image_path "TATE_BRITAIN_DUVEEN_GALLERIES_COMMISSION_16_yvq0p4"%>" fluid></b-img>
      <%end%>
      <div class="project-info">
        <span class="name">TATE BRITAIN</span>
        <span class="description">DUVEEN GALLERIES COMMISSION'</span>
      </div>
    </b-col>
  </b-row>

  <b-row class="pt-4">
    <b-col sm="12" >
      <%=link_to '/featured/helmet-like' do %>
        <b-img src="<%=cl_image_path "HELMET_-_LIKE_CAPSULE_COLLECTION_05_w8twcl"%>" fluid></b-img>
      <%end%>
      <div class="project-info">
        <span class="name">HELMET-LIKE</span>
        <span class="description">CAPSULE COLLECTION 05</span>
      </div>
    </b-col>
  </b-row>

  <b-row class="pt-4">
    <b-col sm="12" >
      <%=link_to '/featured/one-three-eight-trek' do %>
        <b-img src="<%=cl_image_path "ONE_THREE_EIGHT_-_TREK_CAPSULE_COLLECTION_04_guilc4"%>" fluid></b-img>
      <%end%>
      <div class="project-info">
        <span class="name">ONE THREE EIGHT-TREK</span>
        <span class="description">CAPSULE COLLECTION 04</span>
      </div>
    </b-col>
  </b-row>

  <b-row class="pt-4">
    <b-col sm="12" >
      <%=link_to '/featured/london-parallel' do %>
        <b-img src="<%=cl_image_path "LONDON_-_PARALLEL_CAPSULE_COLLECTION_03_vfs7nw"%>" fluid></b-img>
      <%end%>
      <div class="project-info">
        <span class="name">LONDON-PARALLEL</span>
        <span class="description">CAPSULE COLLECTION 03</span>
      </div>
    </b-col>
  </b-row>

  <b-row class="pt-4">
    <b-col sm="12" >
      <%=link_to '/featured/knockout' do %>
        <b-img src="<%=cl_image_path "K.O_CAPSULE_COLLECTION_02_mqdjp7"%>" fluid></b-img>
      <%end%>
      <div class="project-info">
        <span class="name">K.O</span>
        <span class="description">CAPSULE COLLECTION 02</span>
      </div>
    </b-col>
  </b-row>

  <b-row class="pt-4">
    <b-col sm="12" >
      <%=link_to '/featured/insectbite' do %>
        <b-img src="<%=cl_image_path "INSECTBITE_CAPSULE_COLLECTION_01_eqmmsc"%>" fluid></b-img>
      <%end%>
      <div class="project-info">
        <span class="name">INSECTBITE</span>
        <span class="description">CAPSULE COLLECTION 01</span>
      </div>
    </b-col>
  </b-row>
</b-container>

<!-- <b-container fluid>
  <b-form-row>
    <b-col sm="12" lg="4">
      <ul class= "navigation-menu">
        <%-@projects.each do |project|%>
          <li>
            <%=link_to project.name.upcase, project_path(project)%>
          </li>
        <%end%>
      </ul>
    </b-col>
    <b-col sm="12" lg="4">
      <b-img src="<%=cl_image_path "01-indexpage_zfje0e"%>" fluid></b-img>
    </b-col>
    <b-col sm="12" lg="4">
      <b-img src="<%=cl_image_path "02-indexpage_pa9url"%>" fluid></b-img>
    </b-col>
  </b-form-row>
</b-container> -->
