<b-container >
  <% @images.each do |img| %>
    <!-- Controller outputs array of images; portrait photos are are x2 array within the image array -->
    <% if img.size >= 2 %>
      <b-form-row class="justify-content-md-center">
        <% img.each do |portrait_photo|%>
          <b-col sm="12" md="5">
            <b-img src="<%=cl_image_path portrait_photo.url unless portrait_photo.nil? %>" alt="<%="#{portrait_photo.url.split('/').last}" unless portrait_photo.nil? %>" fluid></b-img>
          </b-col>
        <% end %>
      </b-form-row>
    <% end %>
    <!-- Controller prints non-portrait photos (landscape, videostills etc) -->
    <% if img.size < 2 %>
      <b-form-row>
        <b-col sm="12" md="10" offset-md="1">
          <b-img src="<%=cl_image_path img.first.url%>" alt="<%="#{img.first.url.split('/').last}"%>" fluid></b-img>
        </b-col>
      </b-form-row>
    <% end %>
  <% end %>

  <!-- Project description -->
  <b-form-row>
    <b-col sm="12" md="10" offset-md="1">
      <b-form-row>
        <b-col cols="6" offset="6">
          <div class="description float-right">
            <%= simple_format @project.description %>
          </div>
        </b-col>
      </b-form-row>
    </b-col>
  </b-form-row>

  <!-- Pagination -->
  <div class="pagination">
    <%=@project.previous.nil? ? raw("<span></span>") : link_to("⟵", project_path(@project.previous))%>
    <%=@project.next.nil? ? raw("<span></span>") : link_to("⟶", project_path(@project.next))%>
  </div>
</b-container>
