<div class="container">
  <div class="columns is-mobile">
    <div class="column is-10 is-offset-1">
      <%-@project.photos.each_slice(2) do |group|%>
        <div class="columns is-variable is-1">
          <%-group.each do |photo|%>
            <div class="column is-half">
              <div class="image-container">
                <%=cl_image_tag photo.url%>
              </div>
            </div>
          <%end%>
        </div>
      <%end%>
      <%-@project.prints.each do |print|%>
        <div class="columns">
          <div class="column">
            <div class="image-container">
              <%=cl_image_tag print.url%>
            </div>
          </div>
        </div>
      <%end%>
      <%-@project.videostills.each do |videostill|%>
        <div class="columns">
          <div class="column">
            <div class="image-container">
              <%=cl_image_tag videostill.url%>
            </div>
          </div>
        </div>
      <%end%>
      <div class="columns">
        <div class="column">
          <div class="description is-pulled-right">
            <%= simple_format @project.description %>
          </div>
        </div>
      </div>
      <div class="pagination">
        <%=link_to "⟵", project_path(@project.previous) if !@project.previous.nil?%>
        <%=link_to "⟶", project_path(@project.next) if !@project.next.nil?%>
      </div>
    </div>
  </div>
</div>
