<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= display_meta_tags :site => 'Dharma Taylor' %>
    <%= csrf_meta_tags %>
    <%= stylesheet_pack_tag 'application' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  </head>
  <body class="administrator-wrapper">
    <div id="app">
      <dashboard></dashboard>
      <%= yield %>
    </div>
  </body>
  <%= javascript_pack_tag 'application' %>
</html>
