<!DOCTYPE html>
<html>
  <head>
    <!-- Google Analytics -->
    <script>

      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-49026503-1', 'auto');
      ga('send', 'pageview');
    </script>

    <meta name="google-site-verification" content="m6SIurjhMppO8efH6qJ1_zMGe-gvh0rlL_n90ivY11I" /> <meta charset="UTF-8">
    <!-- End Google Analytics -->

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/97/three.min.js"></script>
		<script src="/vendor/three/assets/OrbitControls.js"></script>
		<script src="/vendor/three/assets/OBJLoader.js"></script>
		<script src="/vendor/three/assets/MTLLoader.js"></script> -->

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= display_meta_tags :site => 'Dharma Taylor' %>

    <%= csrf_meta_tags %>
    <%= stylesheet_pack_tag 'application' %>
  </head>
  <body class= "<%= controller.controller_path %> <%= controller.action_name %>">
    <div id="app">
      <div class="page">
        <div class="page-header">
          <navbar :is-home="<%=current_page?(root_path)%>"></navbar>
          <modal :modal-data="modalData" @close="modalData.show = false"></modal>
        </div>
        <div class="page-content">
          <%= yield %>
        </div>
        <% unless current_page?(root_path) %>
          <div class="page-footer">
            <div class="container">
              <ul>
                <li>© 2018 DHARMA TAYLOR</li>
                <li>All rights reserved.</li>
              </ul>
              <ul>
                <li>+44 (0) 754 713 68 08</li>
                <li>studio@dharmataylor.com</li>
                <li>London, UK</li>
              </ul>
              <ul>
                <li>
                  <a href="/archive">archive</a>
                </li>
                <li>
                  <a href="/information">information</a>
                </li>
                <li>
                  <a href="mailto:dharmataylorcontact@gmail.com">contact</a>
                </li>
              </ul>
              <ul>
                <li>
                  <a href="https://www.instagram.com/dharmataylor/?hl=en" target="_blank" >ig/</a>
                </li>
                <li>
                  <a href="https://dharma-taylor.tumblr.com/" target="_blank" >tb/</a>
                </li>
              </ul>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
