<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>DharmaTailor</title>

    <!-- <link rel="icon" href="/public/favicon.ico" type="image/x-icon"> -->

    <%= csrf_meta_tags %>
    <%= stylesheet_pack_tag    'application' %>
  </head>

  <body class= "<%= controller.controller_path %> <%= controller.action_name %>">
    <div id="app">
      <div class="page">
        <div id="page-sidebar"></div>
        <div class="page-header">
          <navbar :is-home="<%=current_page?(root_path)%>"></navbar>
        </div>
        <div class="page-content">
          <%= yield %>
        </div>
      </div>
    </div>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
