<!DOCTYPE html>
<html>
  <head>
    <style>
      .authentication {
        font-family: 'circular';
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        z-index: 99;
      }
      .actions {
        display: flex;
        justify-content: center;
      }
      .actions input {
        margin-top: 10px;
        background-color: black;
        color: white;
        border: 1px solid white;
        padding: 8px;
        width: 100%;
      }
      .actions input:hover {
        color: black;
        background-color: white;
      }
      a {
        margin-top: 12px;
      }
      #user_email {
        width: width 100%;
      }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/97/three.min.js"></script>
    <script src="/vendor/three/assets/OrbitControls.js"></script>
    <script src="/vendor/three/assets/OBJLoader.js"></script>
    <script src="/vendor/three/assets/MTLLoader.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= display_meta_tags :site => 'Dharma Taylor' %>

    <%= csrf_meta_tags %>
    <%= stylesheet_pack_tag 'application' %>
  </head>
  <body class= "<%= controller.controller_path %> <%= controller.action_name %>">
    <div id="app">
      <div class="page">
        <div class="page-header">
          <modal :modal-data="modalData" @close="modalData.show = false"></modal>
        </div>
        <div class="page-content">
          <div class="authentication">
            <img src="/packs/images/DTlogo-small-white-9ad26e6ad0cf122f98f65140caaedf1c.png" alt="DT-logo" width="150">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
